
AutoGestion/.vs/AutoGestion/v16/.suo
*.db
*.db-wal
*.db-shm
*.opendb
*.ipch
AutoGestion/AutoGestion.sln
*.vcxproj
*.filters
*.user
AutoGestion/Debug/AutoGestion.exe
*.recipe
*.ilk
*.log
*.pdb
*.lastbuildstate
*.tlog
*.txt
*.obj
*.idb
*.dat
*.enc
